# -------------------------
# Python
# -------------------------
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Logs
# -------------------------
**/logs/
*.log

# -------------------------
# Virtualenv / Poetry
# -------------------------
.env
.venv
.envrc
poetry.lock

# -------------------------
# Editor / IDE
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# Build / Dist
# -------------------------
build/
dist/
*.egg-info/

# -------------------------
# System Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Flet / Temp
# -------------------------
*.fletstate
.python-version
dist/